streaming.example.com:443 {
  tls selfsigned.crt selfsigned.key
  root static
  log / stdout "{combined}"

  proxy /events https://localhost:8081 {
    transparent
    insecure_skip_verify
  }

  proxy /command https://localhost:8081 {
    transparent
    insecure_skip_verify
  }
}

streaming.example.com:80 {
  redir https://streaming.example.com{uri}
}
